{% extends 'base.html' %}

{% block title %}
    <title>Results for {{image.imageName}}</title>
{% endblock %}

{% block content %}
	{% load staticfiles %}
	<h3>Image: {{image.imageName}}</h3><br/>
    <img src="{% static 'images/' %}{{image.previewName}}" alt="Image preview" usemap="#{{image.previewName}}_map">
    <br/>
    <br/>
    <ul>
    	{% for source in image.sourceinimage_set.all %}
    		<li><a href="{% url 'imageanalysis:object'%}{{source.source.pk}}">{{source.source.RA}}, {{source.source.DEC}}</a>: {{ source.brightness }}</li>
    	{% endfor %}
    </ul>
    <br/>
{% endblock %}