{% extends 'base.html' %}

{% block title %}
    <title>Upload Images Here</title>
{% endblock %}

{% block content %}
    <h2>Upload your images on this page.</h2>
    <p>Only .fits files will be processed.</p>
    <p>To get started:</p>
    <ol>
        <li>Click the "Add Files" button</li>
        <li>Select one or many files</li>
        <li>The click the upload button on this page</li>
    </ol>
    <br/>
        <strong>Uploading may take a while. Please be patient.</strong> 
    <br/>
    <br/>
        <!-- IMPORTANT enctype attribute! -->
        <form action="{% url "imageanalysis:upload" %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <label class="btn btn-default btn-file">
                Add Files<input type="file" name="files" multiple style="display:none"/>
            </label>
            <input type="submit" class="btn btn-default" value="Upload"/>
        </form>

{% endblock %}
